.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: url('../../assets/login.png');
  background-size: 100% 100%;
}

.login-card {
  // display: flex;
  // justify-content: center ;
  text-align: center;
  width: 440px;
  height: 360px;
}

.login-logo {
  width: 200px;
  height: 60px;
}

.login-form {
  text-align: left;
}